# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.env.local
.env.remote
node_modules

# ChugSplash artifacts
chugsplash/.canonical-configs/
chugsplash/deployments
chugsplash/logs

test-cli.txt
notes.txt